<%- include("header") -%>
<div class="container">
  <img class="food-img" src="images/pasta.jpg" alt="error">
  <div class="row">
    <div class="col-lg-6">
      <h2>Welcome to XYZ Restarunt .Please register to set the preference</h2>

    </div>
    <div class=" col-lg-6">
      <div class="sar-1">
      <a href="/login"><button type="button" class="btn btn-primary"name="button">Login</button></a>
    <a href="/register"> <button type="button" class="btn btn-success" name="button">Register</button></a>

      </div>
    </div>

  </div>
</div>
<%- include("footer") -%>
