<%- include("header") -%>
<div id="menu">
  <h2>Menu According to your food preference</h2>
  <ol>
    <% for(var i=0;i<dishes.length;i++){%>
    <div class="card">
      <div class="card-body">

           <li><p><%= dishes[i]%></p></li>



      </div>

    </div>
    <%}%>

  </ol>
<a href="/"><button type="button" class="btn btn-primary" name="button">LogOut</button></a>
</div>
